<div class="col-md-12">
    <ng-container *ngFor="let bucket of ( bucketState | async ).buckets">
      <h1
        *ngIf="bucket.id === bucketId" >
        {{ bucket.name }}</h1>
    </ng-container>
</div>
<hr>
<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a routerLink="/{{bucketId}}/files"
         routerLinkActive="active"
         (click)="onNavigationSelected('files')"
         class="navbar-brand"
      >Files</a>
      <a
        routerLink="/{{bucketId}}/details"
        routerLinkActive="active"
        (click)="onNavigationSelected('details')"
        class="navbar-brand"
      >Details</a>
    </div>
</nav>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="!showDetailsData"  class="align-text-bottom">
        <small>All Files( {{ ( fileObjectState | async ).objects.length }})</small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-right">
        <button *ngIf="!showDetailsData" class="btn btn-primary pull-right" (click)="onUploadObject()" >Upload Object</button>
        <button *ngIf="!showDetailsData" class="btn btn-danger pull-right" (click)="onDeleteObject()" >Delete Object</button>
        <button *ngIf="showDetailsData" class="btn btn-danger pull-right" (click)="onDeleteBucket()" >Delete Bucket</button>
      </div>
    </div>
  </div>
  <br>
  <app-bucket-files-list
    *ngIf="!showDetailsData"></app-bucket-files-list>
  <app-bucket-details
   *ngIf="showDetailsData"></app-bucket-details>
</div>

